.card{
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
    width: 280px;
    font-size: 50px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgba(255, 0, 0, 0.178);
    
}
.card:hover{
    border: 3px solid red;
    
}
.center{
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 30px;
    margin-top: 150px;
}
